@keyframes move{
	0%{background-position: 0 0;}
	100%{background-position: 100vw 0;}
}

.image {
    background:url("../../public/photos/categories.png");
	background-size: cover;
	animation: move 15s linear infinite ;
}
.image {
	@apply
	h-loopimgsmall 
	sm:h-loopimg
}