@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  html {
    font-family: 'Red Hat Display', sans-serif;
    font-weight:400;    
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

@layer components {
  .c-small {
    @apply max-w-screen-sm mx-auto px-4;
  }

  .c-large {
    @apply max-w-custom mx-auto px-6;
  }

  .c-large-inside {
    @apply max-w-screen-xl;
  }

}